---
import { SignedIn, SignedOut, UserButton, SignInButton } from '@clerk/astro/components'
---
<div>
    <SignedIn>
        <UserButton />
    </SignedIn>
    <SignedOut>
        <SignInButton />
    </SignedOut>
</div>
