---
import { buttonVariants } from '../components/ui/button'
import ThemeToggle from '../components/ThemeToggle.astro'
---

<header
  class="flex justify-end fixed top-0 z-50 w-full"
>
    <div class="rounded-bl border-b-[1px] border-l-[1px] border-border bg-background">
        <ThemeToggle />
    </div>
</header>
