# OAuth2 client credentials (client-credentials grant)
PAYABLI_CLIENT_ID="your-client-id-here"
PAYABLI_CLIENT_SECRET="your-client-secret-here"

# must be a public Payabli API key
PUBLIC_PAYABLI_TOKEN="o.YOE...WPs8="

# both of these are the same
# should be your Payabli entrypoint
PAYABLI_ENTRY="41xxxxxa7e"
PUBLIC_PAYABLI_ENTRY="41xxxxxa7e"
