---
import HeadSEO from '../components/HeadSEO.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

import { Toaster } from '../components/ui/toaster'

interface Props {
  title?: string | undefined
  description?: string | undefined
  ogImage?: URL | undefined
}

const { title, description, ogImage } = Astro.props
---

<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
    <style>
      html,
      body {
        overflow: auto; /* Allows scrolling */
      }

      html::-webkit-scrollbar,
      body::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }

      html {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    </style>
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <div class="relative flex min-h-screen flex-col">
      <Header />
      <main class="flex-auto">
        <slot />
      </main>
      <Footer />
    </div>
    <Toaster client:load />
  </body>
</html>
