---
import BaseLayout from '../layouts/BaseLayout.astro'
import { PayabliForm } from '../components/PayabliForm'
---

<BaseLayout
  title="Boarding Application"
  description="Get started boarding onto our payment platform."
>
  <div class="mx-2 mt-12">
    <PayabliForm client:load>
      <div slot="fallback">
        <h1 class="h-64 text-white">Loading...</h1>
      </div>
    </PayabliForm>
  </div>
</BaseLayout>
