<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <!-- Using pico.css for styling -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    
    <!-- Using htmx for AJAX requests -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    
    <meta name="viewport" content="width=device-width">
    <title>Payabli SDK Example</title>
</head>
<body>
    <main class="container">
        <nav>
            <ul>
                <li><strong>Payabli SDK Test</strong></li>
            </ul>
            <ul hx-boost="true">
                <li><a href="/">Create Customer</a></li>
                <li><a href="/list">List Customers</a></li>
            </ul>
        </nav>
    </main>
    <main class="container">
        <article>
            <header>
                <em><b>Create Customer</b></em>
            </header>
            <form hx-post="/api/create" hx-target="#form-result" hx-swap="innerHTML">
                <fieldset>
                    <div class="grid">
                        <label>
                            First name
                            <input
                                name="firstname"
                                placeholder="John"
                                autocomplete="given-name"
                                aria-describedby="first_name-description"
                                required
                            />
                            <small id="first_name-description">
                                Your first name is used to personalize your experience.
                            </small>
                        </label>
                        <label>
                            Last name
                            <input
                                name="lastname"
                                placeholder="Doe"
                                autocomplete="family-name"
                                aria-describedby="last_name-description"
                                required
                            />
                            <small id="last_name-description">
                                Your last name is used for identification purposes.
                            </small>
                        </label>
                    </div>
                    <div class="grid">
                        <label>
                            Email
                            <input
                                type="email"
                                name="email"
                                placeholder="Email"
                                autocomplete="email"
                                aria-describedby="email-description"
                                required
                            />
                            <small id="email-description">
                                We'll never share your email with anyone else.
                            </small>
                        </label>
                        <label>
                            Timezone
                            <select 
                                name="timeZone" 
                                aria-label="Select your timezone..." 
                                aria-describedby="timezone-description" 
                                required
                            >
                                <option selected disabled value="">
                                    Select your timezone...
                                </option>
                                <option value="-5">UTC-05:00 Eastern Time (US & Canada)</option>
                                <option value="-6">UTC-06:00 Central Time (US & Canada)</option>
                                <option value="-7">UTC-07:00 Mountain Time (US & Canada)</option>
                                <option value="-8">UTC-08:00 Pacific Time (US & Canada)</option>
                            </select>
                            <small id="timezone-description">
                                Your timezone is used to display transaction times correctly.
                            </small>
                        </label>
                    </div>
                    <div class="grid">
                        <label>
                            Address
                            <input
                                name="address"
                                placeholder="123 Bishop's Trail"
                                aria-describedby="address-description"
                                required
                            />
                            <small id="address-description">
                                Your address is used for billing purposes.
                            </small>
                        </label>
                        <label>
                            City
                            <input
                                name="city"
                                placeholder="Mountain City"
                                aria-describedby="city-description"
                                required
                            />
                            <small id="city-description">
                                Your city is used for billing purposes.
                            </small>
                        </label>
                    </div>
                    <div class="grid">
                        <label>
                            State
                            <input
                                name="state"
                                placeholder="TN"
                                aria-describedby="state-description"
                                required
                            />
                            <small id="state-description">
                                Your state is used for billing purposes.
                            </small>
                        </label>
                        <label>
                            Zip
                            <input
                                name="zip"
                                placeholder="37612"
                                aria-describedby="zip-description"
                                required
                            />
                            <small id="zip-description">
                                Your zip code is used for billing purposes.
                            </small>
                        </label>
                    </div>
                    <div class="grid">
                        <div>
                            <fieldset>
                                <legend>Country</legend>
                                <input type="radio" id="us" name="country" value="us" checked />
                                <label for="us">US</label>
                                <input type="radio" id="ca" name="country" value="ca" />
                                <label for="ca">CA</label>
                            </fieldset>
                            <small>
                                Your country affects the currency and payment methods available to you.
                            </small>
                        </div>
                        <div>
                            <fieldset>
                                <legend>Services</legend>
                                <input type="checkbox" id="hvac" name="hvac" />
                                <label for="hvac">HVAC</label>
                                <input type="checkbox" id="electrical" name="electrical" />
                                <label for="electrical">Electrical</label>
                            </fieldset>
                            <small>
                                This helps us tailor our offerings to your needs.
                            </small>
                        </div>
                    </div>
                    <hr/>
                    <label>
                        <input name="terms" type="checkbox" role="switch" required />
                        I agree to the <a href="#">terms and conditions</a>
                    </label>
                </fieldset>
                <input
                    type="submit"
                    value="Create"
                />
            </form>
        </article>
        <h1 id="form-result"></h1>
    </main>
</body>
</html>
